:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }

  
body {
color: #39a6b2;
font-family: Helvetica, Arial, sans-serif;
background-size: 100%;
background-repeat: no-repeat;
/*applly style to <header>*/
/* Applies 20px to the top and bottom, then 35px to the left and right */
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
<<<<<<< HEAD
  }


header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
=======
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
>>>>>>> feature/flexbox
  }

  header a {
    text-decoration: none;
    color: #fce138;
  }

<<<<<<< HEAD
header nav {
    display: right;
    margin: 7px 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    float: right;
>>>>>>> master
=======
    float: right;
>>>>>>> feature/hero-text
=======
    float: right;
>>>>>>> feature/contact-form
}

header nav ul li {
    display: inline;
  }

=======
  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  } 

>>>>>>> feature/flexbox

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
* {
      margin: 0;
      padding: 0;
}



footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
<<<<<<< HEAD
  }

=======
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }



>>>>>>> feature/flexbox
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hero Style Start */
.hero {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url("../images/hero-bg.jpg");
=======
    background-image: url("../images/flipped-hero-image.jpg");
>>>>>>> feature/hero-text
=======
    background-image: url("../images/flipped-hero-image.jpg");
>>>>>>> feature/contact-form
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
=======
    background-image: url("../images/flipped-hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
>>>>>>> feature/flexbox
  }

/*Hero Style End*/
.hero-form {
    background-color: #fce138;
    padding: 20px;
<<<<<<< HEAD
    width: 500px;
    color: #024e76;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
=======
    color: #024e76;
    border: solid 3px #024e76;
    margin: 3.5%;
>>>>>>> feature/flexbox
  }

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0; 
}


.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;

}


.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

<<<<<<< HEAD

.intro {
    text-align: center;
  }


=======
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
  }

  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
    width: 40%;
    margin: 3.5%;
  }





>>>>>>> feature/flexbox
.intro p {
    /* add this alongside your other declarations */
    margin: 0 auto;
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    text-align: center;
}


<<<<<<< HEAD
.steps {
    background: var(--primary-color);
    text-align: center;
}

=======
>>>>>>> feature/flexbox


.section-title {
    font-size: 55px;
    color: #024e76;
<<<<<<< HEAD
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
=======
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
>>>>>>> feature/flexbox
  }

.primary-border{
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}


<<<<<<< HEAD
.steps div {
    margin-bottom: 80px;
  }
  
  .steps img {
    width: 15%;
    margin: 10px 0;
  }


  .steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
  }

.steps p {
    color: #39a6b2;
    font-size: 23px;
  }

  .trainers {
    text-align: center;
  }


  .trainer {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  }


  .trainer img {
    width: 35%;
    float: left;
  }
  

  .trainer-2 {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
  }
  
  .trainer-2 img {
    width: 35%;
    float: right;
  }

  .trainer-3 {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
  }

  .trainer-3 img {
    width: 35%;
    float: left;
  }
  
  

=======
=======
>>>>>>> feature/hero-text
=======
>>>>>>> feature/contact-form
    overflow: auto;
=======
  .step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
  }

.step-text p {
    color: #39a6b2;
    font-size: 18px;
    flex: 1 30%;
  }

  .step-info {
   flex: 2 70%;
   flex-wrap: wrap;
   align-items: center;
   display: flex;
  }

  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
  }

  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .step-img {
    flex: 1 12%;
    margin-right: 20px;
  }

  .step-text {
    flex: 12;
  }

  .step-img img {
    max-width: 100%;
  }


  .trainer {
    flex: 1;
    margin: 20px;
    background: #024e76;
    color: #fce138;

  }


  .trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
>>>>>>> feature/flexbox
  }


.trainer img {
<<<<<<< HEAD
  width: 35%;
  float: left;
=======
  width: 100%;
>>>>>>> feature/flexbox
}

.trainer p{
  float: right;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> feature/hero-text
=======
>>>>>>> feature/contact-form

  .trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;
=======

  .trainer-bio {
    padding: 25px;
    line-height: 1.3;
>>>>>>> feature/flexbox
  }

  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  .trainer-bio h3 {
<<<<<<< HEAD
    font-size: 32px;
    margin-bottom: 8px;
=======
    font-size: 28px;
>>>>>>> feature/flexbox
  }
  
  .trainer-bio h4 {
    font-weight: lighter;
<<<<<<< HEAD
    font-size: 26px;
    margin-bottom: 25px;
=======
    font-size: 22px;
    margin-bottom: 15px;
>>>>>>> feature/flexbox
  }
  
  .trainer-bio p {
    font-size: 17px;
<<<<<<< HEAD
    line-height: 1.3;
=======

>>>>>>> feature/flexbox
  }



  .section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
  }


/* REACH OUT STYLES START */
.contact {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> feature/flexbox
    background: #024e76;
  }


  .contact h2 {
    color: #fce138;
  }


  .contact-info iframe {
<<<<<<< HEAD
    width: 400px;
=======

>>>>>>> feature/flexbox
    height: 400px;
  }


  .contact-info div {
<<<<<<< HEAD
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
  }

=======
    color: white;
  }

  .contact-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .contact-info > * {
    flex: 1;
    margin: 15px;
  }

>>>>>>> feature/flexbox

  .contact-info h3 {
    color: #fce138;
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 16px;
>>>>>>> feature/flexbox
    font-style: normal;
  }
  
  .contact-info a {
    color: #fce138;
  }
  
<<<<<<< HEAD
<<<<<<< HEAD
  /* REACH OUT STYLES END */
<<<<<<< HEAD


<<<<<<< HEAD
  

  







=======
>>>>>>> master

=======
>>>>>>> feature/hero-text
=======
  /* REACH OUT STYLES END */
>>>>>>> feature/contact-form
=======


  /* REACH OUT STYLES END */


  .flex-row {
    display: flex;
  }


  .contact-form input, .contact-form textarea {
     
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px

  }

  .contact-form button {
      width: 100%;
      border: none;
      background: #fce138;
      color: #024e76;
      text-align: center;
      padding: 15px 0;
      font-size: 16px;
  }
>>>>>>> feature/flexbox
